@model IEnumerable<Contacts.Models.Contact>

@{
   ViewBag.Title = "List of contacts";
}

<script>
$(document).ready( function () {
    $('#ContactList').DataTable();
} );
</script>


<table id="ContactList" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor( model => model.Title )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.Name )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.Surname )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.Email )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.Phone )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.Mobile )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.CompanyName )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.Position )
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor( modelItem => item.Title )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.Name )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.Surname )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.Email )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.Phone )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.Mobile )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.CompanyName )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.Position )
            </td>
        </tr>
        }
    </tbody>
</table>



